# development || production
NODE_ENV=development

# SERVEUR WEB
WEB_SERV_DOMAIN='localhost'
WEB_SERV_PORT=4000

# BASE DE DONNEES
DB_CLIENT='pg'
DB_HOST='localhost'
DB_PORT=5432
DB_USER='ghost'
DB_PASSWORD='ghost'
DB_DATABASE='mc-auth'
DB_SSL=false
DB_POOL_MIN=0
DB_POOL_MAX=10

# Auth JWT
SECRET_KEY='je suis un super secret'

# Auth Challenge
CHA_SECRET_KEY='le secret'
CHA_DIFF=3
CHA_DURATION=5